/* styles/globals.css */

@font-face {
    font-family: 'Avenir Next LT Pro Bold';
    src: url('/font/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Italic';
    src: url('/font/AvenirNextLTPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    src: url('/font/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avenir Next LT Pro Regular', sans-serif;
}

/* Add other global styles here */


@tailwind base;
@tailwind components;
@tailwind utilities;